<div class="page-header">
  <h1 class="page-title"><%= page_title %></h1>
  <div class="filters">
    <%= form_tag(jobs_path, method: :get, id: "filter-form") do %>
      <%= text_field_tag :name, params[:name], placeholder: "Search...", class: "filter-select", style: "min-width: 200px;", onchange: "this.form.submit()" %>
    <% end %>
  </div>
</div>

<div class="page-body">
  <div class="card">
    <div class="card-body">
      <% if @jobs.blank? %>
        <div class="empty-state">
          <div class="empty-state-icon">
            <i class="bi bi-briefcase" style="font-size: 1.5rem;"></i>
          </div>
          <h3>No jobs found</h3>
          <p>Data will appear here as your application processes background jobs.</p>
        </div>
      <% else %>
        <table class="data-table">
          <thead>
            <tr>
              <th>Job</th>
              <th style="width: 100px; text-align: right;">Duration</th>
              <th style="width: 120px; text-align: right;">Happened</th>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
              <% started_at = Time.at(job[:start_timestamp] / 1_000_000_000.0) rescue nil %>
              <%
                display_name = job[:job_class] || job[:name].to_s.sub(/ (process|publish)$/, '')
              %>
              <tr onclick="navigateIfNotSelecting('<%= job_path(job[:trace_id]) %>')" style="cursor: pointer;">
                <td class="path-cell">
                  <span class="job-name path-text" title="<%= display_name %>"><%= display_name %></span>
                  <% queue = job[:queue_name] || "default" %>
                  <span class="path-subtext" title="<%= queue %>"><%= queue %></span>
                </td>
                <td class="duration" style="text-align: right;"><%= format_duration(job[:duration_ms]) %></td>
                <td class="timestamp" style="text-align: right;"><%= started_at ? time_ago_in_words(started_at) : "-" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% if @total_count > 0 %>
          <div class="pagination">
            <div class="pagination-side">
              <% if @has_prev %>
                <%= link_to "Previous", jobs_path(request.query_parameters.merge(offset: [@offset - 50, 0].max)), class: "pagination-link" %>
              <% end %>
            </div>
            <div class="pagination-info">
              <%= number_with_delimiter(@offset + 1) %> - <%= number_with_delimiter([@offset + @jobs.size, @total_count].min) %> of <%= number_with_delimiter(@total_count) %>
            </div>
            <div class="pagination-side" style="text-align: right;">
              <% if @has_next %>
                <%= link_to "Next", jobs_path(request.query_parameters.merge(offset: @offset + 50)), class: "pagination-link" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
