<%
  current_path = send("#{@category}_spans_path")
%>

<div class="page-header">
  <h1 class="page-title"><%= page_title %></h1>
  <div class="filters">
    <%= form_tag(current_path, method: :get, id: "filter-form") do %>
      <%= text_field_tag :name, params[:name], placeholder: "Search...", class: "filter-select", style: "min-width: 200px;", onchange: "this.form.submit()" %>
    <% end %>
  </div>
</div>

<div class="page-body">
  <div class="card">
    <div class="card-body">
      <% if @spans.blank? %>
        <div class="empty-state">
          <div class="empty-state-icon">
            <i class="bi bi-search" style="font-size: 1.5rem;"></i>
          </div>
          <h3>No <%= page_title.downcase %> found</h3>
          <p>Data will appear here as your application processes requests.</p>
        </div>
      <% else %>
        <table class="data-table">
          <thead>
            <tr>
              <th><%= page_title.singularize %></th>
              <% if @category == "http" %>
                <th style="width: 70px; text-align: right;">Verb</th>
                <th style="width: 70px; text-align: right;">Status</th>
              <% elsif @category == "cache" %>
                <th style="width: 100px; text-align: right;">Operation</th>
              <% end %>
              <th style="width: 100px; text-align: right;">Duration</th>
              <th style="width: 120px; text-align: right;">Happened</th>
            </tr>
          </thead>
          <tbody>
            <% @spans.each do |span| %>
              <% started_at = Time.at(span[:start_timestamp] / 1_000_000_000.0) rescue nil %>
              <% display_info = span_display_info(span, @category) %>
              <tr onclick="navigateIfNotSelecting('<%= span_path(span[:id], category: @category) %>')" style="cursor: pointer;">
                <td class="path-cell">
                  <span class="span-name path-text" title="<%= display_info[:primary] %>"><%= display_info[:primary] %></span>
                  <% if display_info[:secondary].present? %>
                    <span class="path-subtext"><%= display_info[:secondary] %></span>
                  <% end %>
                </td>
                <% if @category == "http" %>
                  <td style="text-align: right;">
                    <% if display_info[:http_method] %>
                      <span class="badge badge-<%= display_info[:http_method].to_s.downcase %>"><%= display_info[:http_method] %></span>
                    <% end %>
                  </td>
                  <td style="text-align: right;">
                    <% if display_info[:http_status] %>
                      <%
                        status_class = case display_info[:http_status].to_s
                          when /^2/ then "success"
                          when /^[45]/ then "error"
                          when /^3/ then "warning"
                          else "warning"
                        end
                      %>
                      <span class="badge badge-status badge-<%= status_class %>"><%= display_info[:http_status] %></span>
                    <% end %>
                  </td>
                <% elsif @category == "cache" %>
                  <td style="text-align: right;">
                    <% if display_info[:cache_op] %>
                      <%
                        cache_class = case display_info[:cache_op].to_s
                          when /hit/ then "success"
                          when /write/ then "warning"
                          when /delete/ then "error"
                          else "other"
                        end
                      %>
                      <span class="badge badge-status badge-<%= cache_class %>"><%= display_info[:cache_op] %></span>
                    <% end %>
                  </td>
                <% end %>
                <td class="duration" style="text-align: right;"><%= format_duration(span[:duration_ms]) %></td>
                <td class="timestamp" style="text-align: right;"><%= started_at ? time_ago_in_words(started_at) : "-" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% if @total_count > 0 %>
          <div class="pagination">
            <div class="pagination-side">
              <% if @has_prev %>
                <%= link_to "Previous", send("#{@category}_spans_path", request.query_parameters.merge(offset: [@offset - 50, 0].max)), class: "pagination-link" %>
              <% end %>
            </div>
            <div class="pagination-info">
              <%= number_with_delimiter(@offset + 1) %> - <%= number_with_delimiter([@offset + @spans.size, @total_count].min) %> of <%= number_with_delimiter(@total_count) %>
            </div>
            <div class="pagination-side" style="text-align: right;">
              <% if @has_next %>
                <%= link_to "Next", send("#{@category}_spans_path", request.query_parameters.merge(offset: @offset + 50)), class: "pagination-link" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
